<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Edit Contact</h1>
    <form action="/updateContact" method="POST">
        <input type="hidden" name="id" value="<%= contact._id %>">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= contact.name %>">
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="<%= contact.phone %>">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="<%= contact.email %>">
        </div>
        
        <button type="submit">Update Contact</button>
    </form>
</body>
</html>